<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/public/styles/style2.css">

    <style>
        .add-art-btn {
            display: inline-block;
            padding: 10px 20px;
            color: #f1f1f1;
            background-color: #38a363;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <%- include("./partials/header") %>
    <%- include("./partials/nav") %>
    
    <!-- Content -->
    <main class="dashboard-container">
        <!-- Sidebar Navigation -->
        <aside class="sidebar">
            <h2>Dashboard</h2>
            <ul>
                <li><a href="dashboard.html" class="sidebar-link">My Collection</a></li>
                <li><a href="favorites.html" class="sidebar-link">Favorites</a></li>
            </ul>
        </aside>

        <!-- Art Gallery Content -->
        <section class="art-gallery" id="art-collection">
            <div>
                <h1><%= profile.FirstName %>'s Collection</h1>
                <a class="add-art-btn" href="/art/add/new/" class="add-art-link">Add New</a>
            </div>
            <hr>
            <div class="art-grid">          
                <% if (artwork) { %>
                    <% artwork.forEach(art => { %>
                        <div class="art-card" data-art-id="<%= art.id %>">
                            <img src="uploads/artwork/<%= art.Artwork %>" alt="<%= art.title %>">
                            <h3><%= art.Title %></h3>
                            <p><em><%= art.Artist %>, <%= art.Year %></em></p>
                            <p class="price">Price: $<%= art.Price %></p>
                        </div>
                    <% })%>
                <% }%>
            </div>
        </section>
    </main>
    
    <!-- Sidebar -->
    <aside></aside>
    
    <%- include("./partials/footer") %>
</body>
</html>
