<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
</head>
<body>
    <%- include("./partials/header") %>
    <%- include("./partials/nav") %>
    
    <!-- Content -->
    <main>
        <section class="left-section">
            <div class="artauk-box">
                <span class="artauk-text">Getting Started!</span>
                <p>Let's get you set up</p>
                <a href="/onboarding/user/<%= userID %>/profile" class="explore-btn">Next</a>
            </div>
        </section>
    </main>
    
    <!-- Sidebar -->
    <aside></aside>
    
    <%- include("./partials/footer") %>
</body>
</html>
